table {
  display: grid;
  min-width: 100%;
  width: max-content;
  grid-template-columns:
    minmax(16px, 16px) minmax(40px, 40px) minmax(130px, 1fr)
    minmax(200px, 1.67fr) minmax(100px, 0.5fr) minmax(130px, 1fr) minmax(
      130px,
      2fr
    )
    minmax(150px, 1.67fr) minmax(150px, 1.67fr) minmax(150px, 1.67fr) minmax(
      150px,
      1.67fr
    )
    minmax(200px, 1.67fr) minmax(130px, 1fr) minmax(30px, 30px) minmax(30px, 30px);
}

thead,
tbody,
tr {
  display: contents;
  width: 100%;
}

table td {
  border-bottom: 1px solid #e8e8e8;
  padding: 5px 10px;
  text-align: left;
  /* overflow: hidden;
        text-overflow: ellipsis;*/
  /* white-space: nowrap; */
  align-items: center;
  display: flex;
}

td.sticky-right {
  border-left: 1px dotted #c7c7c7;
}

td {
  background-color: #fff;
  border-bottom: 1px solid #c7c7c7;
  border-right: 1px dotted #c7c7c7;
}

th.sticky-right {
  border-left: 1px solid #c7c7c7;
  background: #eceef1 !important;
  z-index: 5;
}

th.sticky-left {
  background: #eceef1 !important;
  z-index: 5;
}

th {
  position: sticky;
  display: flex;
  top: 72px;
  background-color: #ffffff;
  align-items: center;
  padding: 5px 10px 3px;
  min-height: 34px;
  height: auto;
  text-transform: uppercase;
  font-size: 12px;
  border-right: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  background: #eceef1;
}

/* tr:nth-child(even) td {
        background: #f6f6f6;
      } */
td:last-child {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

tr:hover > td:not(:first-child, :last-child, :nth-child(14), .selected),
tr:hover > td .btn-edit {
  background: #f3f8f8 !important;
}

.selected {
  background-color: #f8f8f8 !important;
}

.rowSelect {
  background-color: #f8f8f8 !important;
}
